:root {
  --backgroundColor: rgb(226, 226, 226);
}

/* Aesthetically pleasing header */
header {
  background-image: linear-gradient(
    to right,
    rgb(0, 76, 255),
    rgb(0, 255, 115)
  );
  color: white;
  text-align: center;

  /* Text shadow to make the white text pop */
  text-shadow: 0px 0px 3px black, 0px 0px 6px black, 0px 0px 10px black;
}

/* Dark page background */
body {
  background-color: rgb(50, 50, 50);
}

/* Resizable headers */
main h2 {
  font-size: 6vmin;
}

/* Overriding bootstrap default card body behavior */
.card-body {
  font-size: 16px;
  text-align: center;
}

.custom-card-body {
  background-color: rgb(0, 149, 255);
  color: white;
}

/* Overriding bootstrap default card text behavior */
.card-text {
  font-size: 12vmin;
}

/* Set of classes for styling the UVI element based on the UVI value */
.vlow-UVI {
  background-color: var(--backgroundColor);
  color: green;
}

.low-UVI {
  background-color: var(--backgroundColor);
  color: yellow;
}

.mod-UVI {
  background-color: var(--backgroundColor);
  color: orange;
}

.high-UVI {
  background-color: var(--backgroundColor);
  color: rgb(255, 87, 87);
  text-shadow: 0 0 10px 0 black, 0 0 10px 0 black, 0 0 10px 0 black;
}

.extreme-UVI {
  background-color: var(--backgroundColor);
  color: purple;
}

/* Highlighting of the functionality of buttons */
.hoverShadow:hover {
  box-shadow: 0 0 10px 0 rgb(50, 50, 50);
  transition: all 0.15s ease-in-out;
  filter: none;
  cursor: pointer;
}

/* Forcing max width of card elements that show forecast info to improve responsiveness */
.custom-card {
  max-width: 180px;
}

/* Styles both the search button and the search field */
input {
  width: 100%;
  max-width: 200px;
  font-size: 12px;
}

/* Styling for the large area on the left of the page that houses the search bar and search history */
.customLeftArea {
  border: 2px solid black;
  border-radius: 25px;
  margin: 5px;
  height: fit-content;
  min-height: 80vh;
  padding: 10px;
  background-color: blanchedalmond;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 190),
    rgb(255, 255, 255)
  );
}

/* Styling for the large area on the right of the page that houses the condition and forecast cards */
.customRightArea {
  /* Start the area off transparent*/
  display: none;

  border: 2px solid black;
  border-radius: 25px;
  padding-top: 10px;
  margin: 5px;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 190),
    rgb(255, 255, 255)
  );
}

/* Solely styles the text above the search bar */
.searchStyling {
  font-weight: bolder;
}

/* Covers copyright info at bottom of page */
footer {
  text-align: center;
  color: white;
}
