:root {
    --backgroundColor: rgb(226, 226, 226);
}

header {
    background-color: blue;
    color: white;
}

main h2 {
    font-size: 6vmin;
}

.card-body {
    font-size: 4vmin;
    text-align: center;

}

.card-text {
    font-size: 12vmin
}



/* #currentConditionsContainer {
    display: none;
}

#forecastConditionsContainer {
    display: none;
} */

.vlow-UVI{
    background-color: var(--backgroundColor);
    color: green;
}

.low-UVI{
    background-color: var(--backgroundColor);
    color: yellow;
}

.mod-UVI {
    background-color: var(--backgroundColor);
    color: orange;

}

.high-UVI {
    background-color: var(--backgroundColor);
    color: rgb(255, 87, 87);
    text-shadow: 0 0 10px 0 black,0 0 10px 0 black,0 0 10px 0 black,;

}

.extreme-UVI {
    background-color: var(--backgroundColor);
    color: purple;

}

.hoverShadow:hover {
    box-shadow: 0 0 10px 0 rgb(50, 50, 50);
    transition: all 0.15s ease-in-out;
    filter: none;
    cursor: pointer;
  }