header {
    background-color: blue;
    color: white;
}

main h2 {
    font-size: 6vmin;
}

.card-body {
    font-size: 4vmin;
    text-align: center;

}

.card-text {
    font-size: 12vmin
}

.uvIndexItem {
    color: purple;
}

#currentConditionsContainer {
    display: none;
}

#forecastConditionsContainer {
    display: none;
}